@import url(https://fonts.googleapis.com/css?family=Montserrat:600);
@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);


* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Montserrat, sans-serif;
}

:root {
  --Navy: #0a192f;
  --LightNavy: #112240;
  --LightestNavy: #233554;
  --Slate: #8892b0;
  --LightSlate: #a8b2d1;
  --LightestSlate: #ccd6f6;
  --White: #e6f1ff;
  --Green: #64ffda;
  --consolas: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

body {
  background: var(--Navy);
  min-height: 500px;
  height: 94vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 89vh;
  background: var(--Navy);
  transition: background-color 0.5s ease-in-out;
  padding: 30px;
}

h1 {
  font-family: Montserrat, sans-serif;
  color: #eee;
  text-align: center;
  margin-bottom: 1em;
  font-size: 42px;
}


/* * {
  box-sizing: border-box;
} */

body {
  color: #03121b;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  padding: 1rem;
}

h1 {
  margin-bottom: 2rem;
}

label {
  color: var(--Slate);
  display: block;
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}

a {
  color: #20baff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background: var(--Green);
  border: 0;
  border-radius: 0.3em;
  color: var(--Navy);
  cursor: pointer;
  font-weight: 800;
  outline: none;
  padding: 1.5rem;
  transition: all 0.5s;
  width: 100%;
}

button:hover {
  background: var(--White);
}

small {
  display: block;
  margin-top: 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
}

.results {
  display: flex;
  display: none;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1.3rem;
}

.result {
  background: linear-gradient(to bottom, var(--LightNavy), var(--LightestNavy));
  color: var(--White);
  padding: 1rem;
  flex-grow: 1;
  border-radius: 5px;
}

.result div {
  font-size: 1.4rem;
}

#status {
  background: #f5d67b;
  bottom: 0;
  display: none;
  font-size: 0.9rem;
  max-width: 450px;
  padding: 1.5rem;
  position: absolute;
  right: 0;
}